*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit; background: transparent; color: var(--input-color); font-size: inherit; line-height: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer; color: inherit; background: transparent;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
input:-internal-autofill-selected {
  background-color: transparent !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
/*--------------------*/

/*---design-system---*/
:root {
  --black: #151516;
  --header-size: 80px;
  --input-color: #B4B2B2;
  --accent: #086211;
  --error: #FF7B7B;
  --sublist: #1E1E20;
  --burger-body-padding: 405px;
}
body {
  color: #fff;
  background: var(--black);
}

a {
  color: #fff;
  display: block;
  text-decoration: none;
}
.h1 {
  font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 120%;
 color: #fff;
 text-transform: uppercase;
}

.h2 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 120%;
 color: #fff;;
}
.h3-bold, .h3-semiBold {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 120%;
 color: #fff;;
}
.h4-semiBold-s {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: #fff;;
}
.h4-bold {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 120%;
 color: #fff;;
}
.h5 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 120%;
letter-spacing: 0.02em;
 color: #fff;;
}
.body {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
letter-spacing: 0.02em;
 color: #fff;;
}
.body-semiBold {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 120%;
letter-spacing: 0.02em;
 color: #fff;;
}
.body-bold {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 120%;
letter-spacing: 0.02em;
 color: #fff;;
}

.section-title {
  text-transform: uppercase;
  margin-bottom: 54px;
}
.mb-32 {
  margin-bottom: 32px;
}

.mb-24 {
margin-bottom: 24px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-s-24 {
  margin-bottom: 24px;
}
.mb-s-28 {
  margin-bottom: 28px;
}
.mb-s-40 {
  margin-bottom: 40px;
}
.m-w-456, .screen__text_block.m-w-456 {
  max-width: 456px;
}
.btn {
  width: fit-content;
  border: 2px solid #FFFFFF;
  text-transform: uppercase;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 1;
background: transparent;
letter-spacing: 0.02em;
cursor: pointer;
position: relative;
}
.link, .btn {
  padding: 12px;
  transition: background-color ease .3s;
}
.btn.loading {
  background-color: rgba(255, 255, 255, 0.2);
  cursor:auto;
}
.btn span {
  pointer-events: none;
}
.btn.loading span{
  opacity: .3;
}
.btn .loader {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
  display: none;
}
@keyframes button-loading-spinner {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}
.btn.loading .loader {
  display: block;
}
.d-s {
  display: block !important;
}
.d-l {
  display: none !important;
}

.mw-456 {
  max-width: 456px;
}

.margin-auto {
  margin: auto;
}
@media (min-width: 1024px) {
  .obj-pos-top-l {
    object-position: top;
  }
  .mb-s-40 {
    margin-bottom: 0;
  }
  .body-l {
    font-weight: 400;
    font-size: 18px;
  }
  .d-l {
    display: block !important;
  }
  .d-s {
    display: none !important;
  }

  :root {
    --header-size: 96px;
  --burger-body-padding: 500px;
  }
.h1 {
  font-size: 38px;
letter-spacing: 0.02em;
}
.h2 {
  font-size: 40px;
}
.h3-bold {
  font-weight: 700;
  font-size: 31px;
} 
.h3-semiBold  {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 120%;
   color: #fff;;
}

 .h4-semiBold-l {
  font-weight: 600;
  font-size: 23px;
}
.section-title {
  margin-bottom: 80px;
}
.mb-l-16 {
  margin-bottom: 16px;
}
.mb-l-32 {
  margin-bottom: 32px;
}

.mb-l-60 {
  margin-bottom: 60px;
}
}

@media (min-width: 1300px) {
.h1 {
  font-size: 52px;
}

}

/*---design-system---*/

.screen {
  padding-top: var(--header-size);
}
.screen__content {
  height: 100%;
   z-index: 2; 
   padding: 0 16px;
}
.screen__text {
  position: relative;
  align-items: center;
  z-index: 1;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
}

.screen__text_block {
width: 100%;
max-width: 552px;
flex: 0 0 auto;
}

.section__what-we-do .screen__text_block {
flex: 0 1 auto;
} 

.screen__image {
  position: absolute;
  width: 100%;
  height: calc(100% - var(--header-size));
  bottom: 0;
  right: 0;
}

.screen__image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.screen__image img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.page__scroll {
position: absolute;
top: 0;
right: 0;
width: 4px;
height: 100%;
background-color: rgba(0, 0, 0, 0.2);
}

.page__drag-scroll {
position: absolute;
top: 0;
left: 0;
width: 100%;
background-color: rgba(0, 0, 0, 0.8);
cursor: pointer;
}

.screen.footer {
  padding-top: 0;
}


.what-we-do__wrapper {
  justify-content: center;
  max-width: 500px;
  }
  .form__block_wrapper {
height: fit-content;
    overflow: hidden auto;
    padding: 10px 0 20px 0;
  } 
.what-we-do {
display: flex;
flex-direction: column;
gap: 8px;
}
.what-we-do__li {
  border-bottom: 2px solid #FFFFFF;
  max-width: 360px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  height: var(--header-size);
  z-index: 300;
  background: var(--black);
}

.header__content {
  position: relative;
  z-index: 1;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo .logo {
  line-height: var(--header-size);
}
.logo {
  font-family: 'Russo One';
  font-weight: 400;
  font-size: 23px;
}
.header__burger-btn {
  cursor: pointer;
  position: relative;
  display: block;
  height: 34px;
  padding: 1px;
  width: 34px;
  padding: 5px;
}

.header__burger-btn span,.header__burger-btn span:after,.header__burger-btn span:before {
  background: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transition: background .3s ease,top .3s ease .3s,-webkit-transform .3s ease;
  transition: background .3s ease,top .3s ease .3s,-webkit-transform .3s ease;
  -o-transition: background ease .3s,top ease .3s .3s,transform ease .3s;
  transition: background .3s ease,top .3s ease .3s,transform .3s ease;
  transition: background .3s ease,top .3s ease .3s,transform .3s ease,-webkit-transform .3s ease;
  width: 22px
}

.header__burger-btn span {
  top: 17px;
}
.header__burger-btn span:before {
  top: -8px
}

.header__burger-btn span:after {
  top: 8px
}


.header__burger-btn._active span {
  background-color: rgba(0,0,0,0)
}

.header__burger-btn._active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__burger-btn._active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__burger-btn._active span:after,.header__burger-btn._active span:before {
  top: 0;
  -webkit-transition: top .3s ease,-webkit-transform .3s ease .3s;
  transition: top .3s ease,-webkit-transform .3s ease .3s;
  -o-transition: top ease .3s,transform ease .3s .3s;
  transition: top .3s ease,transform .3s ease .3s;
  transition: top .3s ease,transform .3s ease .3s,-webkit-transform .3s ease .3s
}
.header__burger-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  background: var(--black);
  transition: .5s  ease-in-out;
  overflow: auto;
  padding-top: var(--header-size);
}
.header__burger-body._active {
  left: 0;
} 

.header__burger-body__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding-left: 20px;
  -webkit-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  opacity: 0;
}
.header__burger-body__content._active {
  opacity: 1;
}
.header__burger-body_list-wrapper {
  display: flex;
  justify-content: center;
}
.header__burger-body_list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}

.header__burger-body_link {
  padding: 13px 0;
}

.header__burger-body_li_arrow {
  display: flex;
}

.header__burger-body_arrow {
  padding: 17px 37px;
  cursor: pointer;
}
.header__burger-body_arrow svg  {
  transition: transform .3s ease 0s;
}
.header__burger-body_arrow.open svg {
  transform: rotate(180deg);
}
.header__burger-body_sub-list {
  width: 100%;
  position: absolute;
  top: var(--burger-body-padding);
  transition: all ease .4s;
  background: var(--sublist);
  overflow: hidden;
  left: 0;
  height: 0;
}

.header__burger-body_sub-list.open {
  height: calc(100% - var(--burger-body-padding));
}

.sub-list__content {
  height: 100%;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sub-list__body {
  padding-bottom: 32px;
  width: 100%;
}
.sub-list__body nav > ul {
  display: flex;
 flex-flow: row wrap;
 justify-content: center;
 justify-items: flex-start;
  gap: 32px;
}
.sub-list__body nav > ul li {
  flex: 1 0 calc(50% - 16px);
  min-width: 280px;
}
.sub-list__anchors ul{
display: flex;
flex-direction: column;
gap: 16px;
}

.form {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
letter-spacing: 0.02em;
display: flex;
flex-direction: column;
gap: 10px;
color: var(--input-color)
}

.form__input input {
  border-bottom:  2px solid #FFFFFF;
  border-radius: 0;
  line-height: 1;
  width: 100%;
padding: 8px 0;
}
.form__input input.error {
  border-color: var(--error);
}
.form__message {
  font-size: 14px;
  color: var(--error);
  height: 0px;
  overflow: hidden;
  transition: all ease .3s;
}
.form__textarea {
  border-radius: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: inherit;
  margin-bottom: 6px;
}
.form__textarea textarea{
border: 2px solid #FFFFFF;
padding: 8px;
}
.form__checkbox {
  height: 40px;
  position: relative;
  margin-right: -8px;
}
.form__checkbox label {
padding-left: 53px;
position: absolute;
z-index: 1;
letter-spacing: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
cursor: pointer;
}
.checkbox__check {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 1px solid #FFFFFF;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox__check svg {
  display: none;

}
.form__checkbox input.error + .checkbox__check {
  border-color: var(--error);
}
.form__checkbox label.error {
  color: var(--error);
}
.form__checkbox input:checked + .checkbox__check svg{
  display: block;
}

.form__checkbox input {
  opacity: 0;
  position: absolute;
}

.footer__content {
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer__body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
 
.footer_logo {
margin-bottom: 16px;
}

.footer__contacts_list {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.footer__nav_list {
  display: flex;
flex-direction: column;
  gap: 24px;
}
.footer__footage {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
 
}
.footer_reserved, .footer_terms a {
  color: var(--input-color);
}
.footer_terms {
display: flex;
justify-content: space-between;
}
.core-values {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.core-values__li {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.core-values__li h3 {
  text-transform: uppercase;
}
.cookies {
  position: fixed;
  z-index: 3;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: var(--black);
  transition: all ease .5s;
}
.cookies.show {
  bottom: 0;
}
.cookies__body {
  padding: 16px;
  gap: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.careers__li article {
  padding-left: 12px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.careers__li span {
  font-size: 14px;
}
.careers__popup__li article {
  transition: all ease .3s;
  height: 0;
  overflow: hidden;
}
.careers__pop-up__link__wrapper article {
  padding-bottom: 10px;
}

.careers__link__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #FFFFFF;
}
.careers__link__wrapper button {
  width: 100%;
  text-transform: uppercase;
}
.careers__link_svg-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding: 19px 0;
}
.careers__link_svg-wrapper svg {
  pointer-events: none;
  transition: all ease .3s;
  transform: rotate(180deg);
}
.careers__link_svg-wrapper.open svg {
  transform: rotate(0deg);

}
.careers__link {
  text-align: left;
}

.careers-popup {
  position: absolute;
  z-index: 2;
  background: var(--black);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: var(--header-size);
  transition: all ease .3s;
  opacity: 0;
  visibility: hidden;
  /* transform: rotateZ(180deg); */
  /* transform: scale(0); */
  /* display: none; */
}

.careers-popup.open {
  opacity: 1;
  visibility: visible;
  /* transform: rotateZ(0deg); */
  /* transform: scale(1); */
  /* display: block; */
}

.careers__body {
  padding: 26px 16px;
  position: relative;
  height: 100%;
  overflow-y: scroll;
}
.careers__close-btn {
  margin-left: auto;
  top: 25px;
  right: 20px;
  width: 25px;
  height: 25px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}
.careers__close-btn::before, .careers__close-btn::after  {
content: "";
width: 100%;
height: 10%;
background: #fff;
position: absolute;
}

.careers__close-btn::before {
transform: rotate(45deg);
}
.careers__close-btn::after {
  transform: rotate(-45deg);

}
.careers__left-side h3{
  padding-right: 30px;
  text-align: center;
}
.careers__left-side > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.careers__li {
  transition: all ease .3s;
}

.careers__popup__li.open {
  background-color: var(--sublist);
}

.careers__pop-up__link__wrapper .careers__link:hover  {
  background: transparent;
}

.careers__pop-up__applyBtn {
  background: var(--black);
  position: fixed;
  bottom: 32px;
  right: 16px;
}
.careers__li__job_desc ul li{
  position: relative;
}
.careers__li__job_desc ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #fff;
  left: -8px;
  top: 7px;
}
.careers__pop-up__link__wrapper {
  position: relative;

}

.careers__pop-up__link__wrapper .careers__link_svg-wrapper {
  width: 100%;
  position: absolute;
}
.careers__apply-form {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: var(--black);
  transition: all ease .3s;
  opacity: 0;
  visibility: hidden;
}
.careers__apply-form.open {
  opacity: 1;
  visibility: visible;
}
.careers__apply-form__back-btn {
  position: absolute;
  top: 20px;
  left: 10px;
  padding: 10px;
  display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.careers__apply-form__back-btn svg {
  transform: rotate(-90deg);
  flex-shrink: 0;
  
}
.careers__apply-form__body {
  padding: 20px 16px 32px 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background: var(--black);
}
.careers__apply-form__body form {
  gap: 24px;
}
.careers__apply-form__body h3 {
  text-align: center;
  margin-bottom: 24px;
}
.careers__pop-up__sendBtn {
  margin-top: auto;
  margin-left: auto;
}
.paid-media__list {
display: flex;
flex-direction: column;
gap: 6px;
}
.paid-media__list li {
  padding-left: 15px;
  background: url("/img/icons/list-disc.svg") left 3px no-repeat;
}

@media (min-width: 1024px) {
  .paid-media__list {
    gap: 8px;
  }
.careers-popup{
padding-top: 0;
background: transparent;
padding-left: var(--header-size);
align-items: center;
justify-content: center;
display: flex;
}

.careers__body {
  background: linear-gradient(to right, var(--black) 50%, var(--sublist) 50%); 
  max-width: 1128px;
  max-height: 600px;
  overflow: hidden auto;
  display: flex;
  padding: 60px 40px;
  -ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.careers__left-side {
  flex-basis: 50%;
  padding-right: 40px;
}
.careers__left-side h3{
  padding-right: 0px;
  text-align: left;
}
.careers__close-btn {
  top: 20px;
  right: 20px
}
.careers__right-side {
  flex-basis: 50%;
  overflow: hidden;
}
.careers__right-side__content {
  padding-left: 40px;
}

.careers__li article {
  margin-top: 10px !important;
  height: auto;
}
.careers__li span {
  font-size: 18px;
}
.careers__popup__li {
  width: fit-content;
}

.careers__popup__li:hover {
background: var(--sublist);
}

.careers__pop-up__link__wrapper {
  /* position: relative; */
  width: fit-content;
  /* min-width: 360px */
  min-width: 400px
}
.careers__link_svg-wrapper {
  padding-right: 15px;
}
.triggerOpenFullJobDecsriptin + .careers__link_svg-wrapper {
  display: none;
 }
.careers__pop-up__link__wrapper svg {
  transform: rotate(90deg);
}
.careers__pop-up__link__wrapper .careers__link_svg-wrapper.open svg {
  transform: rotate(270deg);
}

.careers__pop-up__applyBtn {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.careers__li__job_desc ul li::before {
  width: 3px;
  height: 3px;
}
.careers__li__job_desc {
  transition: all ease .3s;
  transform: translateX(calc(-100% - 40px));
}
.careers__li__job_desc.open {
  transform: translateX(0px);

}
.careers__body::-webkit-scrollbar {
  display: none;
}

.careers_text_block .what-we-do {
  gap: 32px;
}
.careers__apply-form__body{
  padding-top: 60px;
  display: block;
  position: static;
}
.careers__apply-form__body form {
  max-width: 360px;
  margin: auto;
}
.careers__pop-up__sendBtn {
  display: block;
margin: 56px auto 0px auto;
}
}

.terms-content {
padding-top: var(--header-size);
}

.terms-container {
  max-width: 1128px;
  padding: 0 12px;
  margin-left: auto;
  margin-right: auto;
}
.terms-content {
font-size: 18px;
font-family: 'Montserrat';
line-height: 120%;
letter-spacing: 0.36px;
}
.terms__title {
font-size: 30px;
margin-bottom: 20px;
text-align: center;
}
.terms-content p {
  margin-bottom: 15px;
}
.terms-content a {
  display: inline;
}
.terms-content strong {
  font-size: 20px;
}
.terms-content ol {
  list-style: none;
}
@media (min-width: 1024px) {
  .terms-content {
    padding-top: 0;
    padding-left: var(--header-size);
    }
    .terms-content {
      padding-top: 40px;
    }
    
  .link:hover, .btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .header__logo .logo{
    width: 96px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    line-height: var(--header-size);
    padding-bottom: 32px;
  }
  .logo {
    font-family: 'Russo One';
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 31px;
  }
  .header__contact-us {
    letter-spacing: 0.02em;
    width: 96px;
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 18px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    line-height: var(--header-size);
    padding-top: 32px;
  }
  .header__burger-btn {
    padding-top: 0;
  }
  .header__content {
  flex-direction: column;
    padding: 0;
  }
  .header__burger-body {
  padding-top: 0;
  padding-left: var(--header-size);
    
  }
  .header__burger-body__content {
    flex-direction: row;
    padding-left: 109px;
  }
  .sub-list__content {
    padding: 0px 10px 0px 70px;
  }
  .sub-list__body nav > ul {
flex-flow: column nowrap;  
}
.sub-list__body nav > ul li {
  min-width: 0;
}
.sub-list__anchors ul {
  flex-flow: row wrap;
}
  .header {
    width: var(--header-size);
    left: 0;
    top: 0;
    height: 100%;
  }

  .screen {
    padding-left: var(--header-size);
    padding-top: 0;

  }
   .screen__content {
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0px 80px;
  } 

  .screen__text {
    justify-content: flex-start;
  gap: 0;
  flex-direction: row;
  }
  .screen__text_block {
  flex: 0 0 50%;
  }
  .section__what-we-do .screen__text_block {
    flex: 0 1 auto;
    } 

  .what-we-do__wrapper {
    gap: 70px;
max-width: 100%;
justify-content: space-between;
  }
  .header__burger-body_sub-list {
  width: 0;
  top: 0;
  left: var(--burger-body-padding);
  height: 100%;

  }
  .header__burger-body_li_arrow:hover .header__burger-body_sub-list {
    width: calc(100% - var(--burger-body-padding))
  }

  .header__burger-body_arrow svg  {
    transform: rotate(90deg);
  }
  .header__burger-body_arrow:hover svg {
    transform: rotate(270deg);
  }
  .screen__image {
    position: absolute;
    width: calc(100% - var(--header-size));
    height: 100%;
    top: 0;
    right: 0;
  }
  .sub-list__content {
    justify-content: center;
  }

  .footer__body {
flex-direction: row;
justify-content: space-between;
margin-bottom: 24px;

  }
.footer__nav_list {
flex-direction: row;
gap: 40px;
} 
.screen__content.footer__content {
  padding-top: 32px;
  padding-bottom: 32px;
}
.footer__footage {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.footer_terms {
  flex-direction: column;
gap: 10px;
}
.cookies {
  padding-left: var(--header-size);

}
.cookies__body {
  padding: 32px;
}
.sub-list__body {
  min-width: 487px
}
.core-values__li {
  gap: 8px;
}
}

@media (min-width: 1300px) {
  .screen__content {
    padding: 0px 108px;
}

.what-we-do__wrapper {
  gap: 150px;
}
.what-we-do {
  padding-right: 96px;
}
.sub-list__content {
  padding: 0px 180px 0px 120px;
}
.sub-list__body {
  min-width: 640px
}
}

@media (min-width: 1440px) {
  .what-we-do__wrapper {
    gap: 216px;
  }
}

@media (min-width: 1024px) and (max-width: 1300px ) {
  .body-semiBold {
    font-size: 16px;
  }
  .footer__nav_list {
    gap: 20px;
    } 
}

@media (max-height: 700px) and (max-width: 1024px ) {

  .body, .body-bold {
    font-size: 16px;
  }
  .btn, .what-we-do__link {
    padding: 8px 12px;
  }
}

/* 
services
*/


.services__link__wrapper {
  display: flex;
  position: relative;
}
.services__link__wrapper > div {
  text-transform: uppercase;
}
.services__link_svg-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 9px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.services__link_svg-wrapper svg {
  pointer-events: none;
  transition: all ease .3s;
}
.services__link__wrapper.open .services__link_svg-wrapper svg {
transform: rotate(180deg);
}
.services__link {
  padding-left: 0;
}

.services__link__desc {
  display: grid;
    grid-template-rows: 0fr;
    transition: all ease .3s;
}
.services__link__wrapper.open + .services__link__desc {
grid-template-rows: 1fr;
}

.services__link__desc ul, .services__link__desc p {
  overflow: hidden;
}
.services__link__desc a {
  padding: 4px 0;
  transition: all ease .3s;
}
.services__link__desc a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.services__link__desc.services__link__desc__text {
  padding-left: 0;
}
.services__link__wrapper.open + .services__link__desc.services__link__desc__text {
  margin-top: 8px;

}
.services__list.what-we-do {
  gap: 16px;
}
@media (min-width: 1024px) {
  .services__list.what-we-do {
    gap: 32px;
    padding-right: 0;
  }
  .services__link {
    width: 100%;
    border-bottom: 2px solid #FFFFFF;
    padding-left: 12px;
}
  
  .services__link_svg-wrapper {
    display: none;
  }
  
  .services__link__desc {
height: auto;
margin-top: 10px;
  padding-left: 12px;
}

.services__li .services__link__wrapper + .services__link__desc {
  grid-template-rows: 1fr;

}

}
/* 
services end
*/



/* 
#region animation 
*/

[data-aos=custom-fade-up] {
  opacity: 0;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  -o-transition-property: transform,opacity;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transform: translate3d(0,45px,0);
  transform: translate3d(0,45px,0);
  -webkit-transition: opacity 1s cubic-bezier(.6,0,.2,1),-webkit-transform 1s cubic-bezier(.6,0,.2,1);
  transition: opacity 1s cubic-bezier(.6,0,.2,1),-webkit-transform 1s cubic-bezier(.6,0,.2,1);
  -o-transition: opacity 1s cubic-bezier(.6,0,.2,1),transform 1s cubic-bezier(.6,0,.2,1);
  transition: opacity 1s cubic-bezier(.6,0,.2,1),transform 1s cubic-bezier(.6,0,.2,1);
  transition: opacity 1s cubic-bezier(.6,0,.2,1),transform 1s cubic-bezier(.6,0,.2,1),-webkit-transform 1s cubic-bezier(.6,0,.2,1)
}

[data-aos=custom-fade-up].aos-animate {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

[data-aos=custom-animation-up] {
  opacity: 0;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  -o-transition-property: transform,opacity;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transform: translate3d(0,45px,0);
  transform: translate3d(0,45px,0);
  -webkit-transition: opacity 1s cubic-bezier(.6,0,.2,1),-webkit-transform 1s cubic-bezier(.6,0,.2,1);
  transition: opacity 1s cubic-bezier(.6,0,.2,1),-webkit-transform 1s cubic-bezier(.6,0,.2,1);
  -o-transition: opacity 1s cubic-bezier(.6,0,.2,1),transform 1s cubic-bezier(.6,0,.2,1);
  transition: opacity 1s cubic-bezier(.6,0,.2,1),transform 1s cubic-bezier(.6,0,.2,1);
  transition: opacity 1s cubic-bezier(.6,0,.2,1),transform 1s cubic-bezier(.6,0,.2,1),-webkit-transform 1s cubic-bezier(.6,0,.2,1)
}

[data-aos=custom-animation-up].aos-animate {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}
/* 
#endregion animation 
*/

@media (max-width: 1024px) {
  #fp-nav  {
    display: none !important;
  }
}

#fp-nav ul li a span {
  background: #B4B2B2;
}
#fp-nav ul li a.active span {
  background: #FFFFFF;
}