*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer; color: inherit; background: transparent;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*---design-system---*/
:root {
  --black: #151516;
  --header-size: 80px;
  --input-color: #B4B2B2;
  --accent: #086211;
  --burger-body-padding: 405px;
}
body {
  color: #fff;
  background: var(--black);
}

a {
  color: #fff;
  display: block;
  text-decoration: none;
}
.h1 {
  font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 120%;
/* or 38px */
 color: #fff;;
}

.h2 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 120%;
/* identical to box height, or 35px */
 color: #fff;;
}
.h3-bold, .h3-semiBold {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 120%;
/* identical to box height, or 30px */
 color: #fff;;
}
.h4-semiBold-s {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px */
 color: #fff;;
}
.h4-bold {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px */
 color: #fff;;
}
.h5 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 120%;
letter-spacing: 0.02em;
 color: #fff;;
}
.body {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
letter-spacing: 0.02em;
 color: #fff;;
}
.body-semiBold {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 120%;
letter-spacing: 0.02em;
 color: #fff;;
}
.body-bold {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 120%;
letter-spacing: 0.02em;
 color: #fff;;
}

.section-title {
  margin-bottom: 54px;
}

.mb-24 {
margin-bottom: 24px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-s-28 {
  margin-bottom: 28px;
}
.mb-s-40 {
  margin-bottom: 40px;
}
.btn {
  width: fit-content;
  border: 2px solid #FFFFFF;
  padding: 12px;
  text-transform: uppercase;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 120%;
background: transparent;
}
.d-s {
  display: block;
}
.d-l {
  display: none;
}

@media (min-width: 1024px) {
  .mb-s-40 {
    margin-bottom: 0;
  }
  .d-l {
    display: block;
  }
  .d-s {
    display: none;
  }

  :root {
    --header-size: 96px;
  --burger-body-padding: 500px;
  }
.h1 {
  font-size: 38px;
}
.h2 {
  font-size: 40px;
}
.h3-bold {
  font-weight: 700;
  font-size: 31px;
} 
.h3-semiBold  {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 120%;
   color: #fff;;
}

 .h4-semiBold-l {
  font-weight: 600;
  font-size: 23px;
}
.section-title {
  margin-bottom: 80px;
}
.mb-l-60 {
  margin-bottom: 60px;
}
}

@media (min-width: 1300px) {
.h1 {
  font-size: 52px;
}

}

/*---design-system---*/

.screen {
  padding-top: var(--header-size);
}
.screen__content {
  height: 100%;
   z-index: 2; 
   padding: 0 16px;
}
.screen__text {
  position: relative;
  align-items: center;
  z-index: 1;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.screen__text_block {
width: 100%;
flex: 0 0 auto;
}

.section__what-we-do .screen__text_block {
flex: 0 1 auto;
} 

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen__image img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.page__scroll {
position: absolute;
top: 0;
right: 0;
width: 4px;
height: 100%;
background-color: rgba(0, 0, 0, 0.2);
}

.page__drag-scroll {
position: absolute;
top: 0;
left: 0;
width: 100%;
background-color: rgba(0, 0, 0, 0.8);
cursor: pointer;
}

.screen.footer {
  padding-top: 0;
}
.scroll-icon {
  display: none;
}

.what-we-do__wrapper {
  justify-content: center;
  max-width: 500px;
  }

.what-we-do {
display: flex;
flex-direction: column;
gap: 8px;
}
.what-we-do__li {
  border-bottom: 2px solid #FFFFFF;
  max-width: 360px;
}
.what-we-do__link {
  padding: 12px;
}
.header {
  position: fixed;
  width: 100%;
  height: var(--header-size);
  z-index: 1;
  background: var(--black);
}

.header__content {
  position: relative;
  z-index: 1;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo a{
  font-family: 'Russo One';
  font-weight: 400;
  font-size: 23px;
  line-height: var(--header-size);
}

.header__burger-btn {
  cursor: pointer;
  position: relative;
  display: block;
  height: 34px;
  padding: 1px;
  width: 34px;
  padding: 5px;
}

.header__burger-btn span,.header__burger-btn span:after,.header__burger-btn span:before {
  background: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transition: background .3s ease,top .3s ease .3s,-webkit-transform .3s ease;
  transition: background .3s ease,top .3s ease .3s,-webkit-transform .3s ease;
  -o-transition: background ease .3s,top ease .3s .3s,transform ease .3s;
  transition: background .3s ease,top .3s ease .3s,transform .3s ease;
  transition: background .3s ease,top .3s ease .3s,transform .3s ease,-webkit-transform .3s ease;
  width: 22px
}

.header__burger-btn span {
  top: 17px;
}
.header__burger-btn span:before {
  top: -8px
}

.header__burger-btn span:after {
  top: 8px
}


.header__burger-btn._active span {
  background-color: rgba(0,0,0,0)
}

.header__burger-btn._active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__burger-btn._active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__burger-btn._active span:after,.header__burger-btn._active span:before {
  top: 0;
  -webkit-transition: top .3s ease,-webkit-transform .3s ease .3s;
  transition: top .3s ease,-webkit-transform .3s ease .3s;
  -o-transition: top ease .3s,transform ease .3s .3s;
  transition: top .3s ease,transform .3s ease .3s;
  transition: top .3s ease,transform .3s ease .3s,-webkit-transform .3s ease .3s
}
.header__burger-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  background: var(--black);
  transition: .5s  ease-in-out;
  overflow: auto;
  padding-top: var(--header-size);
}
.header__burger-body._active {
  left: 0;
} 

.header__burger-body__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding-left: 20px;
  -webkit-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  opacity: 0;
}
.header__burger-body__content._active {
  opacity: 1;
}
.header__burger-body_list-wrapper {
  display: flex;
  justify-content: center;
}
.header__burger-body_list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}
.header__burger-body_list  li {
}
.header__burger-body_link {
  padding: 13px 0;
}
.h4-bold {
}
.header__burger-body_li {
}
.header__burger-body_li_arrow {
  display: flex;
}

.header__burger-body_arrow {
  padding: 17px 37px;
  cursor: pointer;
}
.header__burger-body_arrow svg  {
  transition: transform .3s ease 0s;
}
.header__burger-body_arrow.open svg {
  transform: rotate(180deg);
}
.header__burger-body_sub-list {
  width: 100%;
  position: absolute;
  top: var(--burger-body-padding);
  transition: all ease .4s;
  background: #1B1B1D;
  overflow: hidden;
  left: 0;
  height: 0;
}

.header__burger-body_sub-list.open {
  height: calc(100% - var(--burger-body-padding));
}

@media (min-width: 1024px) {
  .header__logo a{
    letter-spacing: 0.02em;
    width: 96px;
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 31px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    line-height: var(--header-size);
    padding-bottom: 32px;
  }
  .header__contact-us {
    letter-spacing: 0.02em;
    width: 96px;
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 18px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    line-height: var(--header-size);
    padding-top: 32px;
  }
  .header__burger-btn {
    padding-top: 0;
  }
  .header__content {
  flex-direction: column;
    padding: 0;
  }
  .header__burger-body {
  padding-top: 0;
  padding-left: var(--header-size);
    
  }
  .header__burger-body__content {
    flex-direction: row;
    padding-left: 109px;
  }
  .scroll-icon {
    display: block;
    position: fixed;
    right: 108px;
    bottom: 80px;
  }
  .header {
    width: var(--header-size);
    left: 0;
    top: 0;
    height: 100%;
  }

  .screen {
    padding-left: var(--header-size);
    padding-top: 0;

  }
   .screen__content {
    padding: 0px 80px;

  } 
  .screen__text {
    justify-content: flex-start;
  gap: 0;
  flex-direction: row;
  }
  .screen__text_block {
  flex: 0 0 50%;
  }
  .section__what-we-do .screen__text_block {
    flex: 0 1 auto;
    } 
    
  .what-we-do__wrapper {
    gap: 70px;
max-width: 100%;
  }
  .what-we-do {
  }
  .header__burger-body_sub-list {
  width: 0;
  top: 0;
  left: var(--burger-body-padding);
  height: 100%;

  }
  .header__burger-body_li_arrow:hover .header__burger-body_sub-list {
    width: calc(100% - var(--burger-body-padding))
  }

  .header__burger-body_arrow svg  {
    transform: rotate(90deg);
  }
  .header__burger-body_arrow:hover svg {
    transform: rotate(270deg);
  }

}

@media (min-width: 1300px) {
  .screen__content {
    padding: 0px 108px;
}
.what-we-do__wrapper {
  gap: 150px;
}
.what-we-do {
  padding-right: 96px;
}
}

@media (min-width: 1440px) {
  .what-we-do__wrapper {
    gap: 216px;
  }
}

@media (max-height: 700px) and (max-width: 1024px ) {

  .body, .body-bold {
    font-size: 16px;
  }
  .btn, .what-we-do__link {
    padding: 8px 12px;
  }
}

/* 
#region animation 
*/

[data-aos=custom-fade-up] {
  opacity: 0;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  -o-transition-property: transform,opacity;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transform: translate3d(0,45px,0);
  transform: translate3d(0,45px,0);
  -webkit-transition: opacity 1s cubic-bezier(.6,0,.2,1),-webkit-transform 1s cubic-bezier(.6,0,.2,1);
  transition: opacity 1s cubic-bezier(.6,0,.2,1),-webkit-transform 1s cubic-bezier(.6,0,.2,1);
  -o-transition: opacity 1s cubic-bezier(.6,0,.2,1),transform 1s cubic-bezier(.6,0,.2,1);
  transition: opacity 1s cubic-bezier(.6,0,.2,1),transform 1s cubic-bezier(.6,0,.2,1);
  transition: opacity 1s cubic-bezier(.6,0,.2,1),transform 1s cubic-bezier(.6,0,.2,1),-webkit-transform 1s cubic-bezier(.6,0,.2,1)
}

[data-aos=custom-fade-up].aos-animate {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

[data-aos=custom-animation-up] {
  opacity: 0;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  -o-transition-property: transform,opacity;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transform: translate3d(0,45px,0);
  transform: translate3d(0,45px,0);
  -webkit-transition: opacity 1s cubic-bezier(.6,0,.2,1),-webkit-transform 1s cubic-bezier(.6,0,.2,1);
  transition: opacity 1s cubic-bezier(.6,0,.2,1),-webkit-transform 1s cubic-bezier(.6,0,.2,1);
  -o-transition: opacity 1s cubic-bezier(.6,0,.2,1),transform 1s cubic-bezier(.6,0,.2,1);
  transition: opacity 1s cubic-bezier(.6,0,.2,1),transform 1s cubic-bezier(.6,0,.2,1);
  transition: opacity 1s cubic-bezier(.6,0,.2,1),transform 1s cubic-bezier(.6,0,.2,1),-webkit-transform 1s cubic-bezier(.6,0,.2,1)
}

[data-aos=custom-animation-up].aos-animate {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}
/* 
#endregion animation 
*/
